*{
  box-sizing: content-box;
}

.logoin{
  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.logoin2{
  width: 300%;
  display: flex;
  flex-direction: row;
}

.webcomida{
  display: flex;
  margin:-150px 40%;
  flex-direction: row;
  font-size: 250%;
}

.cajain{
  background-color:#FFDEAD;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  flex-direction: row;
}

.logoin:hover {
  background-color: #FDF5E6;
  cursor:default;
}


.container{
   background-color:#FFDEAD;
   width: 90%;
   height: 150px;
}

.cuerpo{
  background: #FDF5E6;
}

.logo{
  width:8em;
  margin: 1% 2%;
}

#container .contenedor > div {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    text-align: right;
	  width: 13%;
    flex-direction: row;
}

.contenedor {
  width: 25%;
  display: flex;
  margin: -5% 73%;
  padding: 1px;
  text-align: right;
	flex-direction: row;
}

.caja{
  background-color:#FFDEAD;
  margin: 0 auto;
  width: 70%;
  height: 150px;
}

.row{
  display: flex;
  margin: 0 17%;
  width: 70%;
  padding: 2%;
  text-align: center;
  flex-direction: row;
}

.bot-fil{
  width: 40%;
  display:block;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  flex-direction: row;
  background: #FFDAB9;
  border: 1px solid blue;
}

.bot-fil:hover {
  background-color: white;
  cursor:default;
}

#con1,#con2,#con3,#con4,#con5,#con6{
width: 16%;
}

.block1{
  background-color:#FFDEAD;
  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: 15%;
	margin-right: auto;
  width: 50%;
  height: 37em;
}

.cajablock1{
  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: 2%;
	margin-right: auto;
  width: 95%;
  height: 36em;
}

.cajatxt{
  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: 2%;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajaimg > img{
  margin: 1px;
  display: block;
  padding: 1px;
  width: 30%;
  margin: -25% 68%;
}

.cajatxt2 > span{
  margin: 1px;
  display: block;
  padding: 1px;
  width: 5%;
  margin: 28% 3%;
}

.cajatxt2 > textarea{
  margin: 1px;
  display: block;
  padding: 1px;
  width: 90%;
  margin: -35% 6%;
}

.cajatxt3{
  margin: 1px;
  display: block;
  padding: 1px;
  margin: 35% 40%;
  width: 60%;
  height: auto;
}

.cajaimg2 > img{
  margin: 1px;
  display: block;
  padding: 1px;
  width: 30%;
  margin: -60% 3%;
}


.cajatxt4 > span{
  margin: 1px;
  display: block;
  padding: 1px;
  width: 5%;
  margin: 63% 3%;
}

.cajatxt4 > textarea{
  margin: 1px;
  display: block;
  padding: 1px;
  width: 90%;
  margin: -70% 6%;
}


.block2{
  background-color:#FFDEAD;
  margin: 1px;
  display: block;
  margin-left: auto;
  margin-top: -34%;
	margin-right: 15%;
  width: 18%;
}

.contenbus{
  width: 60%;
  display: flex;
  margin: 0 auto;
  text-align: center;
	flex-direction: row;
  padding: 4%;
}

#buscar{
  width: 95%;
  height: 2%;
}


.block3{
  background-color:#FFDEAD;
  margin: 1px;
  display: block;
  margin-left: auto;
  margin-top: 1%;
	margin-right: 15%;
  width: 18%;
  height: 23em;
}

.contenarea1{
  width: 60%;
  display: flex;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
	flex-direction: row;
  height: 19em;
}

.listado{
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

@media (max-width: 770px) {

.logo{
  display: block;
  padding-top: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.contenedor {
  width: 20%;
  display: block;
  margin-top: 5px;
  margin-left: 25px;
  padding: 1px;
  flex-direction: column;
}

.row{
  display: block;
  margin: 0 38%;
  width: 70%;
  padding: 2%;
  text-align: center;
  flex-direction: column;
}

.caja{
  width: 70%;
  height: 120px;
}


.bot-fil{
  width: 100%;
  display:flex;
  margin: 0 -18px;
  flex-direction: column;
  background: #FFDAB9;
  border: 1px solid blue;
}

#con1,#con2,#con3,#con4,#con5,#con6{
width: 100%;
}

.block1{

  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 70%;
  height: 81em;
}

.cajablock1{
  display: block;
  padding: 1px;
  margin-left: -40px;
	margin-right: auto;
  width: 130%;
  height: 36em;
}

h3{
  text-align: center;
}
.cajatxt{
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajaimg > img{
  margin-top: 10px;
  display: block;
  padding: 1px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt2 > span{
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt2 > textarea{
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.cajaimg2 > img{
  margin-top: -620px;
  display: block;
  padding: 1px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt3{
  display: block;
  padding: 1px;
  margin-top: 280px;
  margin-left: auto;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajatxt4 > span{
  margin-top: 570px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt4 > textarea{
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.block2{
  display:none!important;
}

.contenbus{
  display:none!important;
}

#buscar{
  display:none!important;
}


.block3{
  display:none!important;
}

.contenarea1{
  display:none!important;
}

.listado{
  display:none!important;
}

}

@media (max-width: 1024px) {

.logo{
  display: block;
  padding-top: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.contenedor {
  width: 30%;
  display: flex;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  flex-direction: row;
}

.row{
  display: flex;
  margin: 0 16%;
  width: 70%;
  padding: 2%;
  text-align: center;
  flex-direction: row;
}

.bot-fil{
  width: 30%;
  display:block;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  flex-direction: row;
  background: #FFDAB9;
  border: 1px solid blue;
}

.bot-fil:hover {
  background-color: white;
  cursor:default;
}

.caja{
  width: 70%;
  height: 120px;
}


.bot-fil{
  width: 100%;
  display:flex;
  margin: 0 -30px;
  flex-direction: column;
  background: #FFDAB9;
  border: 1px solid blue;
}

#con1,#con2,#con3,#con4,#con5,#con6{
width: 90%;
}

.block1{

  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 70%;
  height: 44em;
}

.cajablock1{
  display: block;
  padding: 1px;
  margin-left: 0px;
	margin-right: auto;
  width: 100%;
  height: 36em;
}

h3{
  text-align: center;
}
.cajatxt{
  display: block;
  padding: 1px;
  margin-left: 20px;
	margin-right: auto;
  width: 50%;
  height: auto;
}

.cajaimg > img{
  margin-top: -200px;
  display: block;
  padding: 1px;
  width: 40%;
  margin-left: auto;
	margin-right: 30px;
}

.cajatxt2 > span{
  display: block;
  padding: 1px;
  margin-left: 10px;
	margin-right: auto;
}

.cajatxt2 > textarea{
  display: block;
  width: 92%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.cajaimg2 > img{
  margin-top: -470px;
  display: block;
  padding: 1px;
  width: 40%;
  margin-left: 30px;
	margin-right: auto;
}

.cajatxt3{
  display: block;
  padding: 1px;
  margin-top: 260px;
  margin-left: auto;
	margin-right: 20px;
  width: 50%;
  height: auto;
}

.cajatxt4 > span{
  margin-top: 450px;
  display: block;
  padding: 1px;
  margin-left: 10px;
	margin-right: auto;
}

.cajatxt4 > textarea{
  display: block;
  width: 92%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.block2{
  display:none!important;
}

.contenbus{
  display:none!important;
}

#buscar{
  display:none!important;
}


.block3{
  display:none!important;
}

.contenarea1{
  display:none!important;
}

.listado{
  display:none!important;
}

}




@media (max-width: 375px) {

.logo{
  display: block;
  padding-top: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.contenedor {
  width: 20%;
  display: block;
  margin-top: 5px;
  margin-left: 25px;
  padding: 1px;
  flex-direction: column;
}

.cajain{
  background-color:#FFDEAD;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  flex-direction: column;
}

.row{
  display: block;
  margin: 0 18%;
  width: 70%;
  padding: 2%;
  text-align: center;
  flex-direction: column;
}

.bot-fil{
  width: 30%;
  display:block;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  flex-direction: row;
  background: #FFDAB9;
  border: 1px solid blue;
}

.bot-fil:hover {
  background-color: white;
  cursor:default;
}

.caja{
  width: 70%;
  height: 120px;
}


.bot-fil{
  width: 100%;
  display:flex;
  margin: 0 -30px;
  flex-direction: column;
  background: #FFDAB9;
  border: 1px solid blue;
}

#con1,#con2,#con3,#con4,#con5,#con6{
width: 90%;
}

.block1{

  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 70%;
  height: 60em;
}

.cajablock1{
  display: block;
  padding: 1px;
  margin-left: 0px;
	margin-right: auto;
  width: 100%;
  height: 36em;
}

h3{
  text-align: center;
}
.cajatxt{
  display: block;
  padding: 1px;
  margin-left: 20px;
	margin-right: auto;
  width: 50%;
  height: auto;
}

.cajaimg > img{
  margin-top: -200px;
  display: block;
  padding: 1px;
  width: 40%;
  margin-left: auto;
	margin-right: 30px;
}

.cajatxt2 > span{
  display: block;
  padding: 1px;
  margin-left: 10px;
	margin-right: auto;
}

.cajatxt2 > textarea{
  display: block;
  width: 92%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.cajaimg2 > img{
  margin-top: -470px;
  display: block;
  padding: 1px;
  width: 40%;
  margin-left: 30px;
	margin-right: auto;
}

.cajatxt3{
  display: block;
  padding: 1px;
  margin-top: 260px;
  margin-left: auto;
	margin-right: 20px;
  width: 50%;
  height: auto;
}

.cajatxt4 > span{
  margin-top: 450px;
  display: block;
  padding: 1px;
  margin-left: 10px;
	margin-right: auto;
}

.cajatxt4 > textarea{
  display: block;
  width: 92%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.block2{
  display:none!important;
}

.contenbus{
  display:none!important;
}

#buscar{
  display:none!important;
}


.block3{
  display:none!important;
}

.contenarea1{
  display:none!important;
}

.listado{
  display:none!important;
}

}

@media (max-width: 400px) {

.cuerpo{
    height: 90em;
}

.logo{
    display: block;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.cajain{
  background-color:#FFDEAD;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  flex-direction: column;
}

.contenedor {
  width: 50%;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  flex-direction: row;
}

.caja{
  width: 70%;
  height: 120px;
}


.bot-fil{
  width: 100%;
  display:flex;
  margin: 0 -18px;
  flex-direction: column;
  background: #FFDAB9;
  border: 1px solid blue;
}

#con1,#con2,#con3,#con4,#con5,#con6{
width: 100%;
}

.block1{

  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 70%;
  height: 92em;
}

.cajablock1{
  display: block;
  padding: 1px;
  margin-left: -40px;
	margin-right: auto;
  width: 130%;
  height: 36em;
}

h3{
  text-align: center;
}
.cajatxt{
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajaimg > img{
  margin-top: 10px;
  display: block;
  padding: 1px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt2 > span{
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt2 > textarea{
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.cajaimg2 > img{
  margin-top: -620px;
  display: block;
  padding: 1px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt3{
  display: block;
  padding: 1px;
  margin-top: 280px;
  margin-left: auto;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajatxt4 > span{
  margin-top: 570px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt4 > textarea{
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.block2{
  display:none!important;
}

.contenbus{
  display:none!important;
}

#buscar{
  display:none!important;
}


.block3{
  display:none!important;
}

.contenarea1{
  display:none!important;
}

.listado{
  display:none!important;
}

}

@media (max-width: 420px) {
  .cuerpo{
    height: 70em;
  }

  .logo{
    display: block;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
  }

  .cajain{
    background-color:#FFDEAD;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    flex-direction: column;
  }

.contenedor {
  width: 50%;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  flex-direction: row;
}

.caja{
  width: 70%;
  height: 120px;
}


.bot-fil{
  width: 100%;
  display:flex;
  margin: 0 -18px;
  flex-direction: column;
  background: #FFDAB9;
  border: 1px solid blue;
}

#con1,#con2,#con3,#con4,#con5,#con6{
width: 100%;
}

.block1{

  margin: 1px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 70%;
  height: 82em;
}

.cajablock1{
  display: block;
  padding: 1px;
  margin-left: -40px;
	margin-right: auto;
  width: 130%;
  height: 36em;
}

h3{
  text-align: center;
}
.cajatxt{
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajaimg > img{
  margin-top: 10px;
  display: block;
  padding: 1px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt2 > span{
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt2 > textarea{
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.cajaimg2 > img{
  margin-top: -620px;
  display: block;
  padding: 1px;
  width: 50%;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt3{
  display: block;
  padding: 1px;
  margin-top: 280px;
  margin-left: auto;
	margin-right: auto;
  width: 60%;
  height: auto;
}

.cajatxt4 > span{
  margin-top: 570px;
  display: block;
  padding: 1px;
  margin-left: auto;
	margin-right: auto;
}

.cajatxt4 > textarea{
  display: block;
  width: 50%;
  height: 40px;
  margin-left: auto;
	margin-right: auto;
}

.block2{
  display:none!important;
}

.contenbus{
  display:none!important;
}

#buscar{
  display:none!important;
}


.block3{
  display:none!important;
}

.contenarea1{
  display:none!important;
}

.listado{
  display:none!important;
}

}

@media (max-width:600) {
  .logo{
    display:none!important;
  }
}
